impl/src/test/resources/XMLDocumentNoNamespaceSchemaLocation.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <xsd:element name="aNoNamespaceSchemaLocationElement">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="anElement" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
   </xsd:sequence>
   <xsd:attribute name="date" type="xsd:date"/>
  </xsd:complexType>
 </xsd:element>

</xsd:schema>
